<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Pedro Gamarra Portfolio{% endblock %}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="icon" href="{% static 'portfolio/python.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}" data-translate="Inicio">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}#about-me-section" data-translate="Sobre">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}#projects-section" data-translate="Projetos">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}#certificates-section" data-translate="Certificados">Certificates</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}#soft-skills-section" data-translate="Habilidades">Soft Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}#contact-section" data-translate="Contato">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="language-switcher">
                    <span class="language-text">
                        <i class="bi bi-globe"></i> <span data-translate="Traduzir">Translate</span>
                    </span>
                    <button class="language-button" id="english-button">
                        <img src="{% static 'portfolio/USA.png' %}" alt="English">
                    </button>
                    <button class="language-button" id="portuguese-button">
                        <img src="{% static 'portfolio/BR.png' %}" alt="Português">
                    </button>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <footer class="custom-footer">
            <div class="footer-content">
                <p class="copyright">&copy; 2024 Pedro Gamarra. All rights reserved.</p>
                <div class="contact-icons">
                    <a href="https://github.com/pehgamarra" class="icon-link" title="GitHub">
                        <i class="fab fa-github"></i>
                        <span>@pehgamarra</span>
                    </a>
                    <a href="mailto:pedrohhouro@gmail.com" class="icon-link" title="Email">
                        <i class="fas fa-envelope"></i>
                        <span>pedrohhouro@gmail.com</span>
                    </a>
                    <a href="https://wa.me/5511992256425" class="icon-link" title="WhatsApp">
                        <i class="fab fa-whatsapp"></i>
                        <span>+55 (11) 99225-6425</span>
                    </a>
                    <a href="https://www.linkedin.com/in/pedro-gamarra-9b8162181/" class="icon-link" title="LinkedIn">
                        <i class="fab fa-linkedin"></i>
                        <span>@pehgamarra</span>
                    </a>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{% static 'js/languageSwitcher.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>