{% extends 'portfolio/base.html' %}

{% block title %}Pedro Gamarra - Projects{% endblock %}

{% load static %}

{% block content %}
<div class="container main-container">
    <div id="projects-section">
        <h2 data-translate="Projetos">Projects</h2>
        
        <div class="project-container">
            {% for project in projects %}
                <div class="project-card">
                    <div class="project-image" data-video-url="{{ project.video }}">
                        <img src="{{ project.thumbnail.url }}" alt="{{ project.title_en }}">
                    </div>                   
                    <h3 class="project-title">{{ project.title_en }}</h3>
                </div>
            {% endfor %}
        </div>
        
        <div id="projectPopup" class="project-popup" style="display: none">
            <div class="popup-content">
                <span class="close" id="popupClose">&times;</span>
                <div id="popupVideo"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/popup.js' %}"></script>
{% endblock %}
