#projects-section {
    padding: 60px 0;
}

#projects-section h2 {
    color: #cfa266;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: bold;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    width: 360px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #cfa266;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.project-image {
    position: relative;
    cursor: pointer;
    height: 200px; /* Altura fixa para todas as imagens */
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Isso fará com que a imagem cubra todo o espaço disponível */
    object-position: center; /* Centraliza a imagem */
    transition: transform 0.3s ease, filter 0.3s ease;
}

.project-card:hover .project-image img {
    transform: scale(1.05);
    filter: brightness(50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-image:hover .overlay {
    opacity: 1;
}

.project-card h3 {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    margin: 15px 0;
    padding: 0 10px;
    flex-grow: 1; /* Isso fará com que o título ocupe o espaço disponível */
}

.project-footer {
    background-color: #1c1c1e;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #cfa266;
    margin-top: auto; /* Isso empurrará o footer para o final do card */
}

.tools-used {
    display: inline-block;
    background-color: #474037;
    color: #cfa266;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

.project-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1200px;
    background-color: #1e1e1e;
    border: 2px solid #cfa266;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.popup-content {
    display: flex;
    padding: 20px;
}

#popupVideo {
    width: 60%;
    height: auto;
    border-radius: 5px;
}

#popupInfo {
    width: 40%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

#popupTitle {
    font-size: 2rem;
    color: #cfa266;
    margin-bottom: 15px;
    border-bottom: 1px solid #cfa266;
    padding-bottom: 10px;
}

#popupDescription, #popupFooter {
    font-size: 1rem;
    color: #e0e0e0;
    margin-bottom: 15px;
}

#popupH4 {
    font-size: 1.4rem;
    color: #cfa266;
    margin: 15px 0 10px;
}

#popupSkills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.skill-tag {
    background-color: #474037;
    color: #cfa266;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9em;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: default;
    position: relative;
    overflow: hidden;
}

.skill-tag:hover {
    transform: translateY(-2px);
    background-color: #cfa266;
    color: #1a1a1a;
    box-shadow: 0 4px 8px rgba(207, 162, 102, 0.3);
}

.skill-tag::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(207, 162, 102, 0.2),
        transparent
    );
    transition: 5s;
}

.skill-tag:hover::before {
    left: 100%;
}

#popupGitHubLink {
    display: inline-block;
    background-color: #cfa266;
    color: #1a1a1a;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.9em;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    position: relative;
    top: 0;
}

#popupGitHubLink:hover {
    background-color: #00aeff73;
    color: #000000;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#popupGitHubLink:active {
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#popupGitHubLink i {
    margin-left: 5px;
    transition: transform 0.3s;
}


.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: #cfa266;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1100; 
    padding: 10px;
}

.close:hover {
    color: #e0e0e0;
}

/* Estilo para o botão "View more" */
.btn-view-more {
    background-color: transparent;
    color: #cfa266;
    border: 2px solid #cfa266;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 30px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-view-more:hover {
    background-color: #cfa266;
    color: #000;
    box-shadow: 0 0 15px rgba(207, 162, 102, 0.5);
    transform: translateY(-5px);
    text-decoration: none;
}

.btn-view-more i {
    margin-left: 10px;
    font-size: 1.2rem;
}

.btn-view-more::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #cfa266, #b78c4e, #a07436, #8c5e1e, #4a90e2, #3498db, #2980b9, #2c3e50);
    z-index: -1;
    filter: blur(5px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 30px;
}

.btn-view-more:hover::after {
    opacity: 1;
}

.filter-section {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.filter-title {
    font-size: 1rem;
    color: #cfa266;
    margin-bottom: 10px;
    text-align: center;
}

.skill-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    max-width: auto;
}

.skill-button {
    background-color: transparent;
    color: #cfa266;
    border: 1px solid #cfa266;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.skill-button:hover, .skill-button.active {
    background-color: #cfa266;
    color: #1a1a1a;
}
