#projects-section {
    padding: 60px 0;
}

#projects-section h2 {
    color: #cfa266;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: bold;
}

.project-container {
    display: flex;
    justify-content: flex-start;    
    align-items: stretch;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
}

.project-card {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #cfa266;
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    width: 360px;
    text-align: center;
    position: relative;
}

.project-image {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.project-image img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center;
    align-items: center; 
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.project-image:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: white;
    font-size: 1.3rem; 
    text-align: center; 
}

.project-image:hover img {
    transform: scale(1.05);
    filter: brightness(50%);
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 5px 10px rgba(233, 116, 6, 0.7);
}

.project-card h3 {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    margin: 15px 0;
}

.project-card p {
    color: #bbb;
    font-size: 1rem;
    padding: 0 15px;
    text-align: center;
}

.project-footer {
    background-color: #1c1c1e;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #cfa266;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}

.tools-used {
    display: inline-block;
    background-color: #474037;
    color: #cfa266;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

.project-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1200px;
    background-color: #1e1e1e;
    border: 2px solid #cfa266;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.popup-content {
    display: flex;
    padding: 20px;
}

#popupVideo {
    width: 60%;
    height: auto;
    border-radius: 5px;
}

#popupInfo {
    width: 40%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

#popupTitle {
    font-size: 2rem;
    color: #cfa266;
    margin-bottom: 15px;
    border-bottom: 1px solid #cfa266;
    padding-bottom: 10px;
}

#popupDescription, #popupFooter {
    font-size: 1rem;
    color: #e0e0e0;
    margin-bottom: 15px;
}

#popupH4 {
    font-size: 1.4rem;
    color: #cfa266;
    margin: 15px 0 10px;
}

#popupGitHubLink {
    font-size: 1rem;
    color: #4a90e2;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #4a90e2;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#popupGitHubLink:hover {
    background-color: #4a90e2;
    color: #ffffff;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: #cfa266;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1100; /* Garante que o botão fique acima de outros elementos */
    padding: 10px; /* Aumenta a área clicável */
}

.close:hover {
    color: #e0e0e0;
}