@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 16px;
    }

    .profile-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-image-container {
        width: 250px;
        height: 250px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .profile-info {
        padding-left: 0;
    }

    .profile-info h1 {
        font-size: 2rem;
    }

    .tech-icons {
        justify-content: center;
    }

    #about-me-section h2,
    #projects-section h2,
    #certificates-section h2,
    .contact-section h2 {
        font-size: 2rem;
    }

    .project-card {
        width: 100%;
    }
    .popup-content {
        flex-direction: column;
    }

    #popupVideo {
        width: 100%;
        height: 40vh;
    }

    #popupInfo {
        width: 100%;
        max-height: 50vh;
    }

    #popupTitle {
        font-size: 1.5rem;
    }

    #popupDescription {
        font-size: 0.9rem;
    }

    #popupH4 {
        font-size: 1.1rem;
    }

    #popupFooter {
        font-size: 0.8rem;
    }

    .skills-container {
        flex-direction: column;
    }

    
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    
    .copyright {
        margin-bottom: 20px;
    }

    .contact-icons {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .close {
        top: 5px;
        right: 5px;
        font-size: 24px;
        padding: 8px;
    }
    .icon-link {
        width: 100%;
        margin: 0.5rem 0;
    }

    .certificate-card {
        font-size: 14px;
        padding: 10px;
        width: 30vw;
        height: 21vh;
        max-width: 30vw;
        max-height: 21vh;
        min-height: auto;
    }

    .icon-container {
        width: 60px;
        height: 60px;
    }
    
    .icon-link i {
        font-size: 2rem;
    }
    
    .icon-link span {
        font-size: 0.9rem;
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 32%;
    }

    .contact-icons {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 10px;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
    }

    .profile-image-container {
        width: 200px;
        height: 200px;
    }

    .profile-info h1 {
        font-size: 1.8rem;
    }

    .profile-info p {
        font-size: 1rem;
    }

    .tech-icon i {
        font-size: 2.5rem;
    }

    .download-button {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .certificate-card {
        height: auto;
    }

    .certificated-icon i {
        font-size: 3rem;
    }

    .certificated-icon span {
        font-size: 0.8rem;
    }

    #certificateSkills li {
        font-size: 0.8rem;
    }

    .modal-title {
        font-size: 1.2rem;
    }

    .modal-dialog {
        margin: 1rem;
    }
}