
/*popup video */
.project-popup {
    display: none;
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 75%; 
    background-color: rgba(0, 0, 0, 0.966);
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.popup-content {
    display: flex; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    max-width: 100%; 
    width: 100%; 
}

#popupVideo {
    width: 70%; 
    height: auto;
}

#popupInfo {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    margin-left: 30px;
}

#popupTitle {
    font-size: 1.8rem; 
    color: #cfa266; 
    margin: 10px; 
}

#popupDescription {
    font-size: 1.0rem; 
    color: rgb(210, 226, 248); 
    margin: 10px 0; 
}

#popupH4{
    font-size: 1.4rem;
    color: #cfa266;
    margin: 10px 0;
}

#popupFooter{
    font-size: 1.4;
    color: rgb(235, 235, 253); 
    margin: 10px;
}

#popupGitHubLink {
    font-size: 1rem;
    color: #0269ad; 
    text-decoration: underline; 
    margin-top: 10px; 
}

#popupGitHubLink:hover {
    color: #ff8c00;
}

.close {
    cursor: pointer; 
    font-size: 24px;
    color: rgb(255, 230, 0);
    position: absolute; 
    top: 10px;
    right: 10px; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
